[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-to-requirements = "*"

[packages]
requests = "*"
numpy = "*"
pandas = "==1.0.0"
scipy = "*"
ipython = "*"
matplotlib = "*"
openpyxl = "*"
django = "*"
rtree = "==0.8.0"
tensorflow = "*"
sklearn = "*"
torch = "*"
jupyter = "*"
django-pandas = "*"
numba = "*"
django-adminlte3 = "*"
django-management-tools = "*"
django-shell-plus = "*"
django-extensions = "*"

[requires]
python_version = "3.6"
